.custom{
    cursor: url('images/Pizza-Normal-Select.cur'), auto;
}

.body-container {
    display: flex;
  }
  
  .header {
    margin-bottom: 2em;
    text-align: center;
  }
  
#grad {
    background-image: radial-gradient(rgb(245, 210, 10), red, orange);
}
